<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="No Kitadi você pode calcular IRT, calcular IVA,
                                      calcular IPU e saber sobre as taxas de câmbio, juros
                                      do BNA e dos principais bancos comerciais de Angola">
    <link rel="canonical" href="https://kitadi.ga" />
    <meta name="robots" content="index" />

    <meta name="og:title" content="Kitadi - Taxas de câmbio, juros e calculadora de impostos" />
    <meta name="og:description" content="No Kitadi você pode calcular IRT, calcular IVA,
                                      calcular IPU e saber sobre as taxas de câmbio, juros
                                      do BNA e dos principais bancos comerciais de Angola">


    <title>Kitadi | @ViewData["Title"]</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon">
    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Pular conteúdo</a>
    <div class="page-flex">
        <!-- ! Sidebar -->
        <partial name="_Aside" />
        <div class="main-wrapper">
            <!-- ! Main nav -->
            <partial name="_Nav" />
            <!-- ! Main -->
            <main class="main users chart-page" id="skip-target">
                @RenderBody()
            </main>
            <!-- ! Footer -->
            <footer class="footer">
                <div class="container footer--flex">
                    <div class="footer-start">
                        <p>
                            2021 © Kitadi Início - <a href="https://github.com/evandresilva/kitadi" target="_blank"
                                                      rel="noopener noreferrer">kitade</a>
                        </p>
                    </div>
                    <!-- <ul class="footer-end">
                      <li><a href="##">About</a></li>
                      <li><a href="##">Support</a></li>
                      <li><a href="##">Puchase</a></li>
                    </ul> -->
                </div>
            </footer>
        </div>
    </div>
    <!-- Chart library -->
    <script src="./plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="js/script.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2015947685381316"
            crossorigin="anonymous"></script>

</body>

</html>