@{
    ViewData["Title"] = "Taxas de câmbio, juros";
}

<div class="container">
    <h2 class="main-title">Câmbios & Taxas</h2>
    <div class="row stat-cards">
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">632 AOA</p>
                        <p class="stat-cards-info__title">Taxas de câmbio no BNA</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                            </span>
                            Último mês
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">632 AOA</p>
                        <p class="stat-cards-info__title">Taxas de câmbio no mercado informal</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                            </span>
                            Último mês
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">632 AOA</p>
                        <p class="stat-cards-info__title">Taxas de juros do BNA</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                            </span>
                            Último mês
                        </p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                        <i data-feather="bar-chart-2" aria-hidden="true"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">632 AOA</p>
                        <p class="stat-cards-info__title">Taxas de inflação do BNA</p>
                        <p class="stat-cards-info__progress">
                            <span class="stat-cards-info__profit success">
                                <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                            </span>
                            Último mês
                        </p>
                    </div>
                </article>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 col-xl-6">
            <article class="white-block">
                <div class="top-cat-title">
                    <h3>Taxas de Câmbios</h3>
                    <p>Câmbio de câmbios em bancos e mercado informal</p>
                </div>
                <ul class="top-cat-list">
                    <li>
                        <a href="##">
                            <div class="top-cat-list__title">
                                Banco Nacional de Angola <span>645 AOA</span>
                            </div>
                            <div class="top-cat-list__subtitle">
                                USD/AOA <span class="purple">+234</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##">
                            <div class="top-cat-list__title">
                                Banco BAI <span>645 AOA</span>
                            </div>
                            <div class="top-cat-list__subtitle">
                                USD/AOA <span class="purple">+234</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
        <div class="col-md-6 col-xl-6">
            <article class="white-block">
                <div class="top-cat-title">
                    <h3>Taxas de Câmbios</h3>
                    <p>Câmbio de juros, inflação e lubuor</p>
                </div>
                <ul class="top-cat-list">
                    <li>
                        <a href="##">
                            <div class="top-cat-list__title">
                                Banco Nacional de Angola <span>645 AOA</span>
                            </div>
                            <div class="top-cat-list__subtitle">
                                USD/AOA <span class="purple">+234</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##">
                            <div class="top-cat-list__title">
                                Banco BAI <span>645 AOA</span>
                            </div>
                            <div class="top-cat-list__subtitle">
                                USD/AOA <span class="purple">+234</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</div>